<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

<hr>

<div>
    <% if @current_user != nil %>
    <form action="/insert_photo" method="post">
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
     
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption" placeholder = "Enter a caption for the photo">

      <button>
        Add photo
      </button>
    
      </form>
    <% end %>
</div>

<hr>
<div>
  <div>
    <table border = "1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        Photo Details
        </th>
      </tr>

      <% @list_of_public_photos.each do |a_photo| %>
      <tr>
        <td>
          <img src = "<%= a_photo.image %>" >
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %>
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
